
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(45deg, #62bbd6, #70d662);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  background-color: #fff;
  color: #62bbd6;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-bottom: 15px solid #70d662; 
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  margin: 0;
}

main {
  background-color: #f0f0f0;
  margin-top: 20px;
  padding: 20px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 15px;
}




input[type="file"] {
  display: none;
}

label.upload-button {
  display: inline-block;
  background-color: #70d662;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

label.upload-button:hover {
  background-color: #70d662;
}

button {
  display: block;
  background-color: #70d662;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-family: "Roboto";
}

button:hover {
  background-color: #70d662;
}

footer {
  text-align: center;
  margin-top: auto;
  color: #777;
  font-size: 14px;
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease;
}

#imageCount {
  margin-top: 10px;
}

.image-previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-preview {
  width: 75px;
  height: 75px;
  margin: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
