
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}


header {
    background-color: #FFF;
    color: #d662cc;
    text-align: center;
    padding: 20px ;
    margin: 20px;
    border-bottom: 3px solid #00b35a;
}

h1 {
    font-size: 36px;
    margin: 0;
}


main {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}


input[type="file"] {
    display: none;
}


label.upload-button {
    display: inline-block;
    background-color: #00b35a;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
   
    transition: background-color 0.3s ease;
    font-size: 18px;
}

label.upload-button:hover {
    background-color: #d662cc;
}


button {
    display: block;
    background-color: #00b35a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    font-size: 18px;
}

button:hover {
    background-color: #d662cc;
}


footer {
    text-align: center;
    margin-top: auto; /* Опускаем футер вниз страницы */
    color: #777;
    font-size: 14px;
}
